.toast {
    position: fixed;
    top: 20px; /* Move the toast 20px from the top of the viewport */
    right: 20px; /* Keep the toast 20px from the right of the viewport */
    /* background-color: #333; */
    background: rgb(37, 54, 54);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
  }
  
  